.title {
  font-style: italic; }

a.title {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em; }

.menu-icon {
  display: none; }

@media screen and (max-width: 800px) {
  .menu-icon {
    color: white;
    display: block;
    width: 30px;
    margin-right: 10px; } }

#header-bar {
  display: flex; }

.menu {
  display: flex;
  flex-grow: 1; }

.title-bar {
  display: flex;
  flex-grow: 1;
  justify-content: center; }

.profile {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px 0 0;
  font-weight: 700; }

#slider, .slideshow, .slide-content {
  height: 40vh;
  overflow-x: hidden; }

.slideshow {
  position: relative; }

.slide {
  background: #13A8FD;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat; }

.slide-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center; }

.arrow {
  cursor: pointer;
  position: absolute;
  top: 50%;
  margin-top: -35px;
  width: 0;
  height: 0;
  border-style: solid; }

#arrow-left {
  border-width: 30px 40px 30px 0px;
  border-color: transparent white transparent transparent;
  left: 0;
  margin-left: 30px; }

#arrow-right {
  border-width: 30px 0px 30px 40px;
  border-color: transparent transparent transparent white;
  right: 0;
  margin-right: 30px; }

body {
  background: #F6FFFF;
  color: #13A8FD;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px; }

a {
  color: #13A8FD; }
