.navbar-laravel {
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.04); }

body {
  background: #241570;
  color: #0ecede;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px; }

h1 {
  font-weight: 700; }
