.title {
  font-style: italic; }

a.title {
  text-decoration: none;
  color: inherit;
  font-size: 1.5em; }

body {
  background: #F6FFFF;
  color: #13A8FD;
  font-family: "Roboto Condensed", sans-serif;
  font-weight: 400;
  font-size: 18px; }

.menu-icon {
  display: none; }

@media screen and (max-width: 800px) {
  .menu-icon {
    color: white;
    display: block;
    width: 30px;
    margin-right: 10px; } }

#header-bar {
  display: flex; }

.menu {
  display: flex;
  flex-grow: 1; }

.title-bar {
  display: flex;
  flex-grow: 1;
  justify-content: center; }

.profile {
  display: flex;
  flex-grow: 1;
  align-items: center;
  justify-content: flex-end;
  padding: 0 10px 0 0;
  font-weight: 700; }

a {
  color: #13A8FD; }
