.featured{
    display: flex;
    flex-direction: row;
    color:$primary;
    @media screen and (max-width: 750px) {
        flex-direction: column;
    }
}

.panel{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    margin: 15px;
    background:$secondary;
}

.panel-image{
    position: relative;
    padding: 1em;
    min-height: 15em;
    background-size: cover!important;
}

.panel-image::after{
    content: 'Featured';
    color:$secondary;
    background:$primary;
    padding: 0.235em 0.5em;
}

.panel-info{
    min-height: 3.5em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 1em;
}

.panel-title{
    display: flex;
    flex-grow: 2;
}

.panel-price{
    display: flex;
    flex-grow: 1;
    justify-content: flex-end;
}