
// Body
$body-bg: #f5f8fa;

//Colours
$primary:#F6FFFF;
$secondary:#13A8FD;
$warning: #D01D33;
$success: #33F467;

// Typography
$font-family: "Roboto Condensed", sans-serif;
$title-weight:700;
$body-weight:400;
$body-copy:18px;
$font-size-base: 0.9rem;
$line-height-base: 1.6;
