// Variables
@import "_variables";
@import "_title";
@import "_navigation";
@import "_slideshow";
@import "_featured";

body{
  background: $primary;
  color: $secondary;
  font-family:$font-family;
  font-weight: $body-weight;
  font-size:$body-copy;
}

a{
  color: $secondary;
}

.no-margin{
  margin: 0!important;
}

.no-padding{
  padding: 0!important;
}