// Variables
@import "_variables";

body{
  background: $primary;
  color: $secondary;
  font-family:$font-family;
  font-weight: $body-weight;
  font-size:$body-copy;
}

.title{
  font-style: italic;
}

a{
  &.title{
    text-decoration: none;
    color:inherit;
  }
}
